<?xml version="1.0"?>

<model>
  <name>Lunar Arena Test</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Juhyung Lee</name>

    <email>juhyunglee0313@gmail.com</email>
  </author>

  <description>
    Excavation arena for the Lunabotics Competition
  </description>
</model>
